// Animation pour déplacer un dégradé de gauche à droite
@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

// Animation pour simuler un tremblement horizontal
@keyframes tremble {
  0% {
    transform: translateX(-20%, 40%);
  }
  25% {
    transform: translate(-22%, 40%);
  }
  50% {
    transform: translate(-20%, 40%);
  }
  75% {
    transform: translate(-22%, 40%);
  }
  100% {
    transform: translate(-20%, 40%);
  }
}

// Animation pour étendre un élément à partir de la gauche
@keyframes spread-in {
  0% {
    transform: scaleX(0);
    opacity: 0;
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
    transform-origin: left;
  }
}

// Animation pour un effet de rebond subtil
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

// Animation pour changer la couleur du texte par étapes
@keyframes step-color {
  0% {
    color: $color-violet;
  }
  50% {
    color: lighten($color-violet, 20%);
  }
  100% {
    color: $color-violet;
  }
}

// Animation pour agrandir un élément de type carte
@keyframes expand-card {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

// Animation pour agrandir un élément additionnel (ex : bouton)
@keyframes expand-add {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 59px;
    opacity: 1;
  }
}

// Animation pour faire apparaître progressivement un texte
@keyframes fade-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
